/* color scheme from lavishbootstrap.com:
#EEE6D9, #D5B1A2, #E2AB79, #AF8F8F, #AB6361, #97708A, #583A52 */

h1 a {
  color: #EEE6D9; /*#FCA205;*/
  font-family:   'Ubuntu', "Roboto", "Trebuchet MS", "Helvetica", "sans-serif"; /*'Lobster';*/
}

h2 a {
  color: #EEE6D9; /*#FCA205;*/
  font-family: 'Ubuntu', "Roboto", "Trebuchet MS", "Helvetica", "sans-serif"; /* 'Lobster';*/
}


body {
  /*padding-left: 15px;*/
  background-color: #EEE6D9;
}

.page-header {
    background-color: #97708A; /*#ff9400;*/
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', "Roboto", "Trebuchet MS", "Helvetica", "sans-serif"; /*'Lobster', cursive;*/
    color: #583A52;
}

.date {
    float: right;
    color: #AB6361; /*#828282;*/
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #583A52; /*#000000;*/
}

